/* for later */

body {
    background-color:;
}





hr {
    border-color: black;
}

.Pages {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

li {
    list-style: ;
}
